@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/scss/bootstrap";
@import "./scroll-arrow.css";

html {
  scroll-behavior: smooth;
}

html,
body,
header,
#particles-js {
  height: 100%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

.game-hound-img {
  background-color: #343434;
  height: 300px;
}

.crypto-seek-img {
  background-color: #1a1a1d;
  height: 300px;
}

.symfony-wrapper-igdb-img {
  height: 300px;
}

.black {
  color: #000;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #000, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #000, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #000, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #000, #f0f0f0);
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.3rem;
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}
